
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url('https://fonts.googleapis.com/css?family=Prompt');
@import url('https://fonts.googleapis.com/css?family=Neuton:400,700');
body{
     margin: 0;
     padding: 0;
}
header{
	background-color:black;
	color:white;
	padding: 10px 0px 6px 35px;
	height: 45px;
}
header h1{
         display: inline;
         font-family: 'Prompt', sans-serif;
         font-weight: 400;
         font-size: 32px;
         float: left;
         margin-top: 0px;
         margin-right:20px; 

}
nav ul{
	display: inline;
	padding: 0px;
	float:left;
}
nav ul li{
	      display: inline-block;
	      list-style-type: none;
	      color:white;
	      float: left;
	      margin-left:18px;
	       

}
nav ul li a{
	      color:white;
	      text-decoration: none;
}
#nav{
	font-family:serif;
}
.homered{
	background-color: red;
	padding: 26px 12px 18px 12px;
	text-decoration:underline;
}
.divider{
	background-color: red;
	height: 5px;
}
.homeblack:hover{
	background-color:blue;
	padding: 26px 12px 15px 12px;
	text-decoration:underline;
 
  }
.images{
       background-image:url(images/tianjin.jpg);
       width:100%;
      height:100%;
       background-repeat:no-repeat;
       background-position:fixed;
       margin:0px;
       padding:0PX;
}
 .home{
 	font-family:inherit;
 	margin:0px; 
 	padding: 5% 5% 0% 55%;
 	font-size:45px;
 	text-shadow: 5px 2px 4px grey;
 	letter-spacing:5px;
 
 }
 .index{
 	font font-family:sans-serif;
 	padding:0.5% 0% 0% 55%;
 	font-size:40px;
 	text-shadow: 5px 2px 4px grey;
 	
 
 }
 .button{
 	margin:0% 0% 5% 55%;
 	background:black;
 	color:white;
 	height:40px;
 	font-size:1.4em;
 	font-family:sans-serif;
 	cursor:pointer;
 	text-decoration:none;
 	 
 }
.heading h2{
         text-align:center;
         font-size:40px;
         padding:8px 5px;
}
.heading p{
	     text-align:center;
	     font-size:25px;
	     padding:6% 5% 20% 5%;
}
.animate {
	    background-color:black;
	    padding:5% 5% 5% 1.5%;
	    margin:0px;
}
.caption{
	     caption-side:top;
	     color:white;
	     font-family:all;
	     font-size:30px;
	     padding:1% 2% 4% 2%;
 }
 .animate a:link{
 	      text-decoration:none;
 	      text-align:center;
 	      color:white;
 	      padding:8px;
 }
.animate p{
	      text-align:center;
	      text-decoration:none;
	      color:white;
}
.aboutus p{
		text-align:left;
		float:left;
		padding:5%;
		font-size:20px;
		font-family:all;
		font-weight:thin;
		
}
.aboutus h1 {
	text-align:center;
	background-color:white;
	padding-top:5%;
	 

}
.aboutus img {
	    float:right;
	    height:40%; 
	    width:40%;
	    padding-right:0%;
	    padding-left:1%;        
}

.footer-main-div{
	width:100%;
	height:auto;
	margin-top:50%;
	background:black;
	padding:20px 0%;
}
.footer-social-icons{
	width:100%;
	height:auto;
	margin:auto;
	background:#000;
}
.footer-social-icons ul{
	margin:50px;
	padding-top:50px;
	text-align:center;
}
.footer-social-icons ul li{
	display:inline-block;
	width:50px;
	height:50px;
	margin:0px 10px;
	border-radius:100%;
	background:#ffff;
}
.footer-social-icons ul li a{
	color:black;
	font-size:25px;
	display:block;
}
.footer-social-icons ul li a i{
      line-height:50px;
}
.footer-social-icons ul li:hover{
	background:grey;

}
.footer-social-icons ul li a{
	color:black;
}
a{
	text-decoration:none;

}
.footer-menu-one{
	width:100;
	height:auto;
	margin:auto;
	padding:50px;
	background-color:black;

}
.footer-menu-one ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footer-menu-one ul li{
	display: inline-block;
	margin:0px 15px;
}
.footer-menu-one ul li a{
	font-family:all;
	font-size:16px;
	font-weight:600;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
}
.footer-menu-one ul li a:hover{
	color:blue;
	text-decoration:underline;
}
.footer-menu-two{
	width:100;
	height:auto;
	margin: auto;
	padding:20px;
	background-color:black;
}
.footer-menu-two ul{
	margin:0px;
	padding:0px;
	text-align:center;
}
.footer-menu-two ul li{
	display: inline-block;
	margin:0px 15px;
}
.footer-menu-two ul li a{
	font-family:all;
	font-size:16px;
	font-weight:400;
	color:#fff;
	text-transform:uppercase;
	letter-spacing:1px;
}
.footer-menu-two ul li a:hover{
	color: red;
	text-decoration:underline;
}
.footer-bottom{
	width:100%;
	height:auto;
	margin:auto;
	background:black;
	padding:5px;
}
.footer-bottom p{
	color:white;
	font-family:all;
	font-size:20px;
	text-align:center;
	color:#fff;
	padding-top:10%;
	font-weight:600px;
	letter-spacing:2px;
}
.footer-bottom p a{
	color:#fff;
}
.footer-bottom p a:hover{
	color:grey;
}
